 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /* charcoal #1b1a1b    */
/* browse blue #01010f */

.browse-page-back {
    background-color: #010116;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.pre-browse-grid {
    display: none;
   
}
.browse-grid {
    display: block;
    position: absolute;
    top: calc(45px);
    margin-top: 5%;
    width: 100%;
   
}

#browse-title {
    margin: 0%;
    margin-left: 3.8%;
    margin-bottom: 3.8%;
    font-family: "Graphik LC TT Thin";
    color: white;
    font-size: 4vw;
    text-transform: capitalize;
}
.footer-container {
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    background-color: #010116;
}

#browse-rel-base {
    height: 110px;
    width: 100%;
    background-color: #01010f;
    display: flex;
    justify-content: flex-end;
 
}

#browse-rel-base p {
    color: white;
    font-family: "Graphik Web Regular";
    margin-right: 3%;
}

.browse-ripple-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
}

.browse-ripple-flex img {
    position: fixed;
    width: 13vw;
}

.browse-ripple-flex-b {
    display: none;
}