 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /* charcoal #1b1a1b    */

.content-back {
    background-color: #010116;
    min-height: 200vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content-head {
    background-color: #021623;
    height: 262px;
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-top: 2%;
}

#content-head-info {
    /* margin-left: 20px; */
    margin-top: 45px;
    font: 37px "Graphik LC TT Thin";
    color: white;
    margin-left: 3.8%;
}

#content-head-info h3 {
    margin: 0%;
}

#content-head-info p {
    margin: 0%;
    margin-top: 1%;
    font-size: 20px;
}

#content-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: none;
    color: white;
    height: 45px;
    /* padding: 1%; */
    /* padding: 1% 1%; */
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 0s;
    position: fixed;
    width: 100%;
    z-index: 76;
    /* transform: translateY(-12.594px); */
}

.selected-content {
    width: 100%;
}

.content-row {
    display: flex;
    margin-left: 3.7%;
    padding: 0%;
    margin-bottom: 4%;
    position: relative;
}

/* .content-row:not(:nth-child(2)) {
    display: flex;
    margin-left: 3.7%;
    padding: 0%;
    margin-bottom: 4%;
    position: absolute;
     transform: translateY(130%);
} */

/* .content-row:nth-child(3) {
    display: flex;
    margin-left: 3.7%;
    padding: 0%;
    margin-bottom: 4%;
    position: absolute;
    transform: translateY(130%);
} */

.content-row  li {
    margin-right: .1%;
    margin-left: .1%;
    list-style: none;
}

.selected-content img {
    width: 23vw;
}

#movies-top {
    color: white;
    margin: 0%;
    margin-left: 3.8%;
    font-family: "GraphikLCGMedium";
    text-transform: uppercase;
    font-size: 18.72px;
}

#movies-top li {
    list-style: none;
}

#w-m {
    font-family: "GraphikLCGMedium";
    text-transform: uppercase;
    color: #bfbfbf;
    font-size: 12px;
}

#selected-movie-title {
    text-transform: capitalize;
    font: 20px "Graphik Web Light";
    color: white;
    margin: 0%;
}


.sel-thumb {
    position: absolute;
    z-index: 5;
    transition: .4s;
    
}

.sel-thumb-b {
    position: absolute;
    z-index: 5;
    transition: .4s;
    
}

#sel-screenshot {
    position: relative;
    z-index: 2;
    opacity: 0%;
}

.play-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.play-flex-b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    opacity: 0%;
    z-index: -1;
}

#sel-play {
    width: 4vw;
}

.disabled-link {
  pointer-events: none;
}

.content-vid-buttons {
    position: absolute;
    z-index: 4;
    display: flex;
    width: inherit;
    height: inherit;
}

.content-vid-buttons-b {
    position: absolute;
    z-index: 5;
    display: flex;
    width: inherit;
    height: inherit;
}

#minus-flex {
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}



#sel-minus {
    width: 2vw;
    margin-left: 7%;
}

.thumb-size {
    height: 12.9375vw;
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb-size:hover .sel-thumb {
    opacity: 0%;
    z-index: 4;
}

.thumb-size:hover #sel-screenshot {
    opacity: 100%;
}

.content-row button {
    z-index: 96;
    width: 4vw;
}

.content-pre-load {
    display: none;
}

.content-load {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-top: 5%;
}
/* .vid-link-b {
    display: none;
} */

.delete-container {
    top: 0%;
    width: 100%;
    position: absolute;
    z-index: 56;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
}

.delete-back-a {
    height: 10vh;
    width: 100%;
    background-color: #3c3c3c;
    position: fixed;
    display: none;
}

.delete-back {
    height: 10vh;
    min-height: 70px;
    width: 100%;
    background-color: #0f0f0f;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-selected {
    margin-left: 3.5%;
    color: white;
}

.content-btns {
    margin-right: 3.5%;
    color: white;
    display: flex;
    align-items: center;
}

#num-selected {
    font-family: "Graphik Web Light";
    font-size: 1.3vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#num-selected-b {
    font-family: "Graphik Web Light";
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#num-selected span {
    font-size: 2.5vw;
    margin-right: 13%;
    font-family: "Graphik LC TT Thin";
}

.cancel-btn {
    height: 3.5vw;
    min-height: 50px;
    width: 10vw;
    min-width: 80px;
    border: rgba(255, 255, 255,0.5) 1.3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GraphikLCGMedium";
    font-size: 0.7vw;
    text-transform: uppercase;
    pointer-events: visible;
}

.cancel-btn:hover {
    cursor: pointer;
    border: rgba(255, 255, 255,1) 1.3px solid;

}

.remove-yes-btn {
    height: 3.5vw;
    min-height: 50px;
    width: 10vw;
    min-width: 80px;
    background-color: white;
    margin-left: 5%;
    pointer-events: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-yes-btn:hover {
    cursor: pointer;
}

.remove {
font-family: "GraphikLCGMedium";
    color: black;
    font-size: 1.47vw;
    text-transform: uppercase;
    
}

#content-nav-logo:hover {
    cursor: pointer;
}

#plus-icon {
    width: 25px;
    margin: 0 .6% 0 .6%;
}

#content-head-info p {
    display: flex;
    align-items: center;
}

.content-ripple-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
    position: fixed;
}

.content-ripple-flex img {
    position: fixed;
    width: 13vw;
}

.content-ripple-flex-b {
    display: none;
}