 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /*  charcoal #1b1a1b    */

 .login-modal {
     display: none;
 }
 
 .login-modal-open {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 540px;
     width: 100%;
     position: fixed;
     transform: translateY(-750px);
     z-index: 26;
     overflow-y: scroll;
 }

 .login-modal-background {
     transform: translateY(12%);
     width: 375px;
     height: 540px;
     transition-duration: 0.4s;
     background-color: white;
     position: fixed;
     z-index: -1;
 }
 .login-modal-container {
     width: 375px;
     height: 540px;
     position: absolute;

 }

 #login-modal-close {
     transform: translateX(500%) translateY(-565%);
     background: none;
     border: none;
     font-size: 24px;
     outline: none;
     color: gray;
     opacity: 75%;
     position: absolute;
     z-index: 9;
     
 }

 #login-modal-close:hover {
     cursor: pointer;
 }

 .splash-background-modal-open { 
    transition-duration: 0.4s;
    filter: brightness(50%);
}

.login-modal-open {
    filter: brightness(100%);
}

.login-modal-form {
    width: 100%;
    height: 70%;
    transform: translateY(30%);
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
}


.login-modal-form-container label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: none;
    margin-left: 12%;
    font-size: 12px;
    color: #1b1a1b;
}

#title-login, #modal-login-email, #modal-login-password {
 transform: translateX(2.5%);
}

#modal-line p {
    margin: 0%;
    transform: translateX(50%) translateY(-57%);
    color: gray;
    margin-right: 0%;
}

#left-ln {
    width: 33%;
    border: .5px solid #bfbfbf;
    transform: translateX(-60%) translateY(-2450%);
    margin: none;
}
#right-ln {
    width: 33%;
    transform: translateX(72%) translateY(-3300%);
    border: .5px solid #bfbfbf;
    /* width: 33%;
    transform: translateX(56%);
    border: .33px solid red; */
}

.login-modal-btn, .guest-modal-btn {
    color: white;
    width: 78%;
    margin-top: 20%;
    transform: translateX(17%) translateY(-100%);
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #1b1a1b;
    outline: none;
}

.guest-modal-btn {
    background-color: #39579d;
}

.guest-modal-btn:hover {
    cursor: pointer;
}
.login-modal-btn:hover {
    cursor: pointer;
}

#modal-login-password {
    margin-top: 10%;
}

#title-login {
    width: 100%;
    font-size: 24px;
    margin: none;
    font-family: "Graphik Web Bold";
    transform: translateY(170%) translateX(2%);
    text-transform: capitalize;
    z-index: 10;
    color: black;

}


.login-modal-form {
    font-family: "Graphik Web Regular";
    transform: translateY(-3%);
}

.login-modal-form h3 {
    font-weight: bold;
    margin-left: 12%;
}

.login-modal-form label, button {
    text-transform: uppercase;
}

.login-modal-form label span input{
    width: 0%;
    align-items: center;
}

.login-modal-form form .login-modal-form-container label input {
    border-color: #bfbfbf;
    border-style: solid;
    height: 32px;
    border-radius: 4px;
    margin: 2%;
}

#login-modal-error-message {
    color: red;
    text-transform: capitalize;
    transform: translateX(9%) translateY(830%);
    margin: 0%;
    position: absolute;
    z-index: 4;


}