h1 {
    color: white;
}
.movie-container {
    width: 100%;
}
.featured-items img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    overflow: hidden;
    z-index: 1;
    transform: scale(1);
    animation-name: zoom;
    animation-duration: 2.3s;
    animation-fill-mode: forwards;
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes zoom {
    from {
        transform: scale(1,1);
        width: 100%;
        overflow: hidden;
        }
    to {
        transform: scale(1.03,1.03);
        width: 100%;
        overflow: hidden;
        }
}

/* .featured-items-load img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    width: 100%;
    z-index: 1;
    transform: scale(1.05);
    transition: 2.3s;
} */
.sub-items ul{

    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 0;
    transform: translateY(94%);
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
}

.sub-items img {
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.sub-items img:hover {
    transform: scale(1.027);
    transition: .5s;
    cursor: pointer;
}

.movie-container h3 {
    z-index: 56;
    position: absolute;
    color: white;
    font-size: 46px;
    font-family: "Graphik LC TT Thin";
    transform: translateY( 268%) translateX(7%);
    text-transform: uppercase;
}
.movie-container p {
    z-index: 56;
    position: absolute;
    color: white;
    transform: translateY(255%) translateX(8%);
    width: 354px;
    font-size: 20px;
    font-family: "Graphik LC TT Thin";
    letter-spacing: 1.2px;
}

.featured-items-flex p {
    z-index: 55;
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translateY(-400%) translateX(10%);
    font-family: "Graphik LC TT Thin";
    text-transform: uppercase;
    font-size: 35px;
}

.featured-items-flex {
    text-decoration: none;
}