.video-container {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

/* .video-container:hover {
    background-color: #010116;
} */



/* For when scroll width > offset width */
#show-video-height {
    /* width: 100%; */
    height: 100vh;
    outline: none;
    position: absolute;
    /* transform: translateY(15.3%); */
}

/* @media only screen and (max-width: 1530px) { */
/* For when scroll height > offset height */ 
  #show-video-width {
    width: 100%;
    height: 100%;
    outline: none;
    position: absolute;
    }


/* } */

.vid-overlay-initial {
    display: none;
}

.vid-overlay {
    width: 100%;
    height: 50%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#vid-heading {
    width: 100%;
    height: 10vh;
    display: flex;
}

#vid-title {
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: white;
    font: 3vw "Graphik LC TT Thin";
     transform: translateY(20%) translateX(15%);
    
}

#vid-close {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(40%) translateX(-4%);
    color: white;
    font: 20px "Graphik LC TT Thin"

}

#vid-close:hover {
    cursor: pointer;
}

.video-dim {
    z-index: 9;
}