h1 {
    color: white;
}
#root {
    overflow: hidden;
}
.movie-container {
    width: 100%;
}

.movie-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-container h3 {
    z-index: 56;
    position: absolute;
    color: white;
    font-size: 3vw;
    font-family: "Graphik LC TT Thin";
    /* transform: translateY( 268%) translateX(7%); */
    left: 2%;
    margin: 0%;
    text-transform: uppercase;
    object-fit: contain;
}

#crop-image {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.featured-items img {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    overflow: hidden;
    z-index: 1;
    transform: scale(1);
    animation-name: zoom;
    animation-duration: 2.3s;
    animation-fill-mode: both;
    width: inherit;
}

@keyframes zoom {
    from {
        transform: scale(1,1);
      
        }
    to {
        transform: scale(1.03,1.03);
        }
}

/* .featured-items-load img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    width: 100%;
    z-index: 1;
    transform: scale(1.05);
    transition: 2.3s;
} */



.sub-items ul{

    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 0;
    transform: translateY(-16%);
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
}

.sub-items img {
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#li-flex {
    transition: .5s;
    position: relative;
}

#li-flex:hover {
    transform: scale(1.027);
    transition: .5s;
    cursor: pointer;
    z-index: 26;
    position: relative;
}

.movie-container p {
    z-index: 56;
    position: absolute;
    color: white;
    transform: translateY(255%) translateX(8%);
    width: 354px;
    font-size: 20px;
    font-family: "Graphik LC TT Thin";
    letter-spacing: 1.2px;
    /* bottom: 20%; */
}

.featured-items-flex p {
    z-index: 5;
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translateY(-500%);
    font-family: "Graphik LC TT Thin";
    text-transform: uppercase;
    font-size: 2vw;
    object-fit: contain;
    margin: 0%;
    margin-left: 3%;
    transition: .5s;
}

/* #li-flex:hover p {
    z-index: 26;
    font-size: 2.1vw;
    transition: .5s;
} */

.featured-items-flex {
    text-decoration: none;
    position: absolute;
    z-index: 56;
}


#items {
    position: relative;
} 

#li-flex {
    display: flex;
    align-items: flex-end;
}