.video-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .video-container:hover {
    background-color: #010116;
} */

#show-video {
    /* width: 100%; */
    height: 100vh;
    outline: none;
    position: absolute;
    /* transform: translateY(15.3%); */
}

@media only screen and (max-width: 1530px) {
  #show-video {
    width: 100%;
    height: auto;
    outline: none;
    position: absolute;
    }

}