h1 {
    color: white;
}
#root {
    overflow: hidden;
}
.movie-container {
    width: 100%;
}

.movie-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-container a:hover {
    cursor: pointer;
}



#movie-details {
    position: absolute;
    width: 30%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.movie-container h3 {
    z-index: 56;
    
    color: white;
    font-size: 3.5vw;
    font-family: "Graphik LC TT Thin";
    /* transform: translateY( 268%) translateX(7%); */
    margin: 0%;
    text-transform: uppercase;
}

.movie-container p {
    z-index: 56;
    margin: 0%;
    margin-top: 1%;
    color: white;
    /* transform: translateY(255%) translateX(8%); */
    font-size: 1vw;
    font-family: "Graphik Web Light";
    line-height: 115%;
    letter-spacing: 1.1px;
    /* bottom: 20%; */
}

#feat-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 3%;
    height: 3.15vw;
}

#feat-play {
    display: flex;
    flex-direction: row;
    width: 50%;
    
}

#play-container {
    height: 100%;
    width: 3.15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    z-index: 19;
}

#feat-play img {
    width: 3vw;
    z-index: 57;
    opacity: 70%;
    transition: .25s;
    /* height: 100%; */
}

 .movie-container a:hover #feat-play img {
    opacity: 100%;
    width: 3.15vw;
    transition: .25s;
}

#watch-container {
    height: 100%;
    position: relative;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 19;
}

#watch {
    width: 100%;
    text-transform: uppercase;
    font-family: "Graphik Web Regular";
    font-size: 1vw;
}

#feat-actions {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

#feat-actions img {
    width: 2vw;
    opacity: 70%;
}

#feat-actions img:hover {
    opacity: 100%;
    cursor: pointer;
}

 /* #feat-actions img:hover #feat-play img {
    opacity: 0%;
} */

#crop-image {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.featured-items img {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    overflow: hidden;
    z-index: 1;
    transform: scale(1);
    animation-name: zoom;
    animation-duration: 2.3s;
    animation-fill-mode: both;
    width: inherit;
}

@keyframes zoom {
    from {
        transform: scale(1,1);
      
        }
    to {
        transform: scale(1.03,1.03);
        }
}

/* .featured-items-load img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: contain;
    width: 100%;
    z-index: 1;
    transform: scale(1.05);
    transition: 2.3s;
} */



.sub-items ul{

    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 0;
    transform: translateY(-16%);
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
}

.sub-items img {
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#li-flex {
    transition: .5s;
    position: relative;
}

#li-flex:hover {
    transform: scale(1.027);
    transition: .5s;
    cursor: pointer;
    z-index: 26;
    position: relative;
}



.featured-items-flex p {
    z-index: 5;
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translateY(-500%);
    font-family: "Graphik LC TT Thin";
    text-transform: uppercase;
    font-size: 2vw;
    object-fit: contain;
    margin: 0%;
    margin-left: 3%;
    transition: .5s;
}

/* #li-flex:hover p {
    z-index: 26;
    font-size: 2.1vw;
    transition: .5s;
} */

.featured-items-flex {
    text-decoration: none;
    position: absolute;
    z-index: 56;
}


#items {
    position: relative;
} 

#li-flex {
    display: flex;
    align-items: flex-end;
}