 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /*  charcoal #1b1a1b    */

html, body {
    overflow-x: hidden;
}

#root {
    overflow: hidden;
}

.app-background {
    background-color: #010116;
    height: 2000px;
    overflow-x: hidden;
}

.movie-container a {
    overflow: hidden;
    width: 100%;
}

.nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: none;
    color: white;
    height: 45px;
    /* padding: 1%; */
    /* padding: 1% 1%; */
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 1.35s;
    position: absolute;
    width: 100%;
    z-index: 76;
    /* transform: translateY(-12.594px); */
}

/* h3 {
    color: white;
} */



.nav-main-scroll {
    background-color: #021623;
    position: fixed;
    /* transform: translateY(-12.594px); */
    width: 100%;
    /* transition: 1.35s; */
}

.nav-left {
    display: flex;
    flex-direction: row;
    /* margin-left: 20px; */
    margin-left: 3%;
    list-style: none;
    transform: translateX(-40px);
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    list-style: none;
}


.nav-main li:not(.nav-logo) {
    margin-left: 20px;
    margin-right: 20px;
     text-transform: uppercase;
     font-family: "Graphik Web Regular";
     text-decoration: none;
     letter-spacing: 1.2px;
     font-size: 14px;
     white-space: nowrap;
}

.nav-logo {
    font-family: 'futura';
    font-size: 26px;
    text-transform: lowercase;
    font-weight: 900;
    color: #cc038f;
    transform: translateY(-3px);
    margin-right: 10px;
}

.nav-logo-scroll {
    color: white;
}

.circle-letter {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 9px 10px 8px 11px;

    background: rgba(255, 255, 255, .1);
    
    color: #ffffff;
    text-align: center;

    font-size: 16px;

    margin-right: 12%;
    transition: 1.35s;
}

.circle-letter-scroll {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 9px 10px 8px 11px;

    background: white;
    
    color: #1b1a1b;
    text-align: center;

    font-size: 16px;

    margin-right: 12%;
}

#my-content, #search, #browse {
    display: flex;
    align-items: center;
    transition: 0.1s;
}
.nav-main a {
    text-decoration: none;
}
.nav-main a:visited {
    color: white;
    text-decoration: none;
}
#my-content:hover, #search:hover, #browse:hover {
    opacity: 80%;
    cursor: pointer;
    transition: 0.1s;
}

#check-icon, #search-icon, #browse-icon {
    width: 24px;
}


#search-space, #check-space, #browse-space {
    margin-right: 8%;
}
.user-dropdown-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 45px;
    position: absolute;
}

.user-dropdown-no-select {
    display: none;
}

.user-dropdown {
    color: white;
    background: #021623;
    list-style: none;
    font-family: "Graphik Web Regular";
    font-size: 13px;
    height: 250px;
    width: 250px;
    transform: translateX(-12%);
    /* transform: translateY(-18px) translateX(-12px); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    z-index: 75;
}

.user-dropdown li {
    filter: brightness(80%);
}

.line-top {
    padding-top: 13px;
    transform: translateX(-20px) scaleX(1.159);
    /* width: 125.36%;*/
}

.line-top hr {
    border-top: 0.567px solid white;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    opacity: 45%;
}

#logout-dropdown:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.user-btn {
    transition: 0.1s;
    padding: 45px 10px 45px 10px;
}

.user-btn:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 0.1s;
}

.sub-items {
    position: relative;
}

.pre-featured-container{
    display: none;
}

.featured-container {
    display: block;
}