/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /*  charcoal #1b1a1b    */


@font-face{
    font-family: "Graphik Web Regular"; 
    src: url('./g-web-reg.ttf')
}

@font-face{
    font-family: "Graphik Web Light"; 
    src: url('./g-web-light.ttf')
}

@font-face{
    font-family: "GraphikLCGMedium";
    src: url('./g-lcg-medium.ttf')
}
 
@font-face{
    font-family: "Graphik LC TT Thin";
    src: url('./g-lctt-thin.ttf')
}

@font-face{
    font-family: "Graphik Web Bold";
    src: url('./g-web-bold.ttf')
}

@font-face{
    font-family: "futura";
    src: url('./FUTURAB.TTF')
}


body {
    margin: 0;
}

input[type="text"] {
    font-size:18px;
    font-family: "Graphik Web Regular";
    color: #021623;
}

input[type=text]:focus{
  outline: 2px solid black;
  box-shadow: 0 0 0 1px black;
}
input[type="password"] {
    font-size:18px;
    font-family: "Graphik Web Regular";
}

input[type=password]:focus{
  outline: 2px solid black;
  box-shadow: 0 0 0 1px black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}