 /* black #00000    */
 /* NAVY #010116    */
 /* teal #16b9be    */
 /* magenta #cc038f    */
 /* white #ffff    */
 /* night #021623  */
 /* light-gray #bfbfbf */
 /* magenta hover #5e1638  */
 /*  charcoal #1b1a1b    */
 /* dark teal  */


.splash-background {
    background-color: #021623;
     
}

/* .background-continue {
    background-color: #021623;
    height: 1500px;
} */

 .splash-container {  /* hero */
    background-image: url(https://aqua-app-dev.s3-us-west-1.amazonaws.com/man-tv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    /* display: block; */
    /* z-index: -1; */
}
.splash-nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 0%;
    padding: 1%;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 6;
    transition: 1.35s;
}

.splash-nav-scroll {
    background-color: white;
    position: fixed;
    width: 100%;
    opacity: 90%;
}

.splash-nav li {
    margin-inline-end: 4.35%;
    margin-inline-start: 2%;
}

#login-btn {
    margin-top: 1%;
}


 .logo-splash {
    font-family: 'futura';
    font-size: 26px;
    text-transform: lowercase;
    font-weight: 900;
    color: white;
    display: flex;
 }

 .logo-splash-scroll {
     color: black;
 }

  #login-btn {
     color: #cc038f;
     text-transform: uppercase;
     font-family: "GraphikLCGMedium";
     background: none;
     border: none;
     font-size: 16px;
     outline: none;
     letter-spacing: 1.5px;
     font-weight: bold;
 }

 #login-btn:hover {
    cursor: pointer;
 }


 .splash-background-top {
    /* background-color: #16b9be; */
    min-height: 520px;
    height: 47vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: -1;
    
 }

 .tagline {
     font-family: "Graphik LC TT Thin";
     font-size: 4.8vw;
     font-weight: lighter;
     color: white;
     margin-bottom: 1.7%;
     text-align: center;
 }

 .tag-sub {
     font-family: "Graphik Web Light";
     font-size: 2vw;
     width: 55%;
     text-align: center;
     color: white;
     margin-bottom: 3%;
     position: relative;
 }

 #hbo {
     margin-top: 3%;
    font-size: 1.3vw;
    font-family: "Graphik Web Regular";
}

   .signup-btn {
     text-decoration: none;
     color: #010116;
     background-color: white;
     padding: 18px;
     padding-left: 25px;
     padding-right: 25px;
     border-radius: 4px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     font-family: "Graphik Web Regular";
     text-transform: uppercase;
     font-weight: bold;
     transform: translateY(-50%);
     position: relative;
     margin-top: 1.5%;
 }

 .signup-btn:hover {
     background-color: #bfbfbf;
 }


/* .splash-buffer {
    background-image: linear-gradient(to right, #021623 , #1c4d5b);
    height: 150px;
    transform: translateY(590px);
    position: static;
    z-index: 4;
} */


.splash-movie-hero {
    background-image: url(https://aqua-app-dev.s3-us-west-1.amazonaws.com/movie-hero.png);
    /* height: 1000px; */
    /* background-position: center; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
    /* transform: translateY(3%); */
    margin-top: 2%;
    width: 100%;
    height: 60vw;
    position: relative;
}

#devices {
    background-color: #032236;
    width: 100%;
    height: 400px;
    margin-top: 7%;
}

#continue {
    width: 100%;
    height: 530px;
    background-color: #021623;
    
}